
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
        :root {
            --hcmue-blue: #0A3C6E;
            --hcmue-yellow: #FFC72C;
        }
        body {
            font-family: 'Inter', sans-serif;
            background-color: #f4f7f9;
        }
        .hcmue-bg-blue { background-color: var(--hcmue-blue); }
        .hcmue-text-yellow { color: var(--hcmue-yellow); }
        .hcmue-border-yellow { border-color: var(--hcmue-yellow); }
